<nav
  class="navbar navbar-lg navbar-expand-lg bg-body-tertiary"
  [ngClass]="pageY > 100 && fixable ? 'fixed' : 'not-fixed'"
  #navbar
>
  <div class="container">
    <a class="navbar-brand" href="#">Ballo Company Group</a>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/accueil" routerLinkActive="active" class="nav-link"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/accueil" class="nav-link">A propos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/boutique" routerLinkActive="active" class="nav-link"
            >Produits</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/accueil" class="nav-link">Contact</a>
        </li>
      </ul>
      <div class="d-flex buttons">
        <ng-container *ngIf="!!user  && [1, 3].includes(user.role_id)">
          <button
            nz-button
            nzType="default"
            style="color: dark"
            routerLink="/dashboard/"
          >
            Dashboard <i class="fa fa-user" style="margin-left: 10%"></i>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
