
<div class="container">
  <div class="cards">
    <div class="card">
      <div class="card-body">
        <h1>0</h1>
        <p>Commandes journaliere</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h1>0</h1>
        <p>Total produit en stock </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h1>0</h1>
        <p>Commande de la semaine</p>
      </div>
    </div>
  </div>

  <div class="container mt-5 table-responsive">
    <h4>Activités recentes</h4>
    <table class="table table-bordered  ">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">Identifiant</th>
          <th scope="col">Type</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>
            <button class="btn btn-dark"> voir +</button>
            <button class="btn btn-outline-dark" style="margin-left: 2%;" > livrer</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>
            <button class="btn btn-dark"> voir +</button>
            <button class="btn btn-outline-dark" style="margin-left: 2%;" > livrer</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>
            <button class="btn btn-dark"> voir +</button>
            <button class="btn btn-outline-dark" style="margin-left: 2%;" > livrer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
