.content {
  display: flex;
  height: 100%;
  width: 100%;
}
.login-form {
  width: 50% !important;
}

.login-form h1 {
  text-align: center;
  margin-top: 20%;
}

.login-form {
  margin-left: 10%;
}

.login-form .form-field .error {
  border: 1px solid red;
}

.login-form .form {
  margin-top: 20%;
}

.login-form .form-field input {
  width: 100%;
  height: 6vh;
  border-radius: 14px;
  border : 1px solid black;;
}

.login-form .btn-primary {
  background-color: black;
  color: white;
  border: none;
  width: 100%;
}

.information {
  width: 60%;
  background: url("https://wallpaper.dog/large/20407842.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-left: 10%;
}

.information h1 {
  color: white;
  position: absolute;
  margin-top: 20%;
  text-align: center;
  margin-left: 15%;
}

.information h1 a {
  text-decoration: none;
  color: white;
}

@media (min-width: 0) and (max-width: 900px) {
  .content {
    display: inline;
  }
  .information {
    visibility: hidden;
  }

  .login-form {
    width: 100% !important;
  }

  .login-form .form-field input {
    width: 80%;
  }

  .login-form {
    margin-left: 10;
  }

  .login-form .btn-primary {
    width: 80%;
  }

  .login-form h1 {
    text-align: justify;
    margin-left: 20%;
  }
}
