<div class="card" (click)="navigate('/Shop/item')">

  <img
    [src]="!!item?.fileUrl ? item?.fileUrl : 'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bbcb746-0a19-4099-9aa0-c0cfd2739b99/dbfc5un-ad47f5ec-3fcb-4875-963b-442fbf994471.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRiYmNiNzQ2LTBhMTktNDA5OS05YWEwLWMwY2ZkMjczOWI5OVwvZGJmYzV1bi1hZDQ3ZjVlYy0zZmNiLTQ4NzUtOTYzYi00NDJmYmY5OTQ0NzEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pzGTTNoStlIeOvBPvVvgzyNQPWFfnQxQdAP3SBPt4jg' "
    width="200" height="200">

  <p class="tui-island__paragraph">
    <tui-badge status="custom" value="{{item?.marque}}" class="tui-space_right-2"></tui-badge>
  </p>
  <h3 class="tui-island__title">{{item?.title}}</h3>
  <div class="money">
    <span class="price">{{item?.price | currency :'XOF'}} </span>
  </div>

  <p class="tui-island__paragraph">
    {{item?.description?.toUpperCase()}}
  </p>

  <div class="buttons">
    <button tuiButton type="button" appearance="custom" size="m" class="detail" (click)="navigate('/Shop/item')">
      voir +
    </button>
    <button tuiButton type="button" appearance="custom" size="m" class="order" (click)="navigate('/Shop/order')">
      Ajouter panier
    </button>
  </div>

  <br>
  <br>
</div>
