<app-navbar></app-navbar>
<section class="banner">
  <div class="image">
    <div class="wrapper">
      <div class="title" style="margin-left: 3%">
        <h1>Notre boutique <i class="fa fa-shop"></i></h1>
      </div>
    </div>
  </div>
</section>
<app-back-button [text]="'retour'"></app-back-button>
<section class="filter">
  <label>Filter</label>
  <nz-select
    nzPlaceHolder="veuillez choisir le filtre"
    [nzSize]="'large'"
    [formControl]="marque"
    (change)="filterElementByMarque($event)"
  >
    <nz-option
      nzValue="{{ marque }}"
      nzLabel="{{ marque }}"
      *ngFor="let marque of marques"
    ></nz-option>
  </nz-select>
  <button tuiButton appearance="custom" (click)="openModal('search-modal-1')">
    Recherche Avancé
  </button>
</section>
<section class="search"></section>
<section class="products container justify-content-center">
  <nz-spin [nzSpinning]="isLoad">
    <div class="row">
      <div
        *ngFor="let product of products | tableFilterPipe: marque.value"
        class="col-md-4"
      >
        <app-shopping-card [shoppingItemData]="product"></app-shopping-card>
      </div>
    </div>
  </nz-spin>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <section class="modals" style="margin-top: 7%">
      <h1 style="text-align: center">Recherche Avancé</h1>

      <section class="search">
        <div>
          <label>Rechercher une piece</label>
          <input [(ngModel)]="keyword" (change)="search()" name="keyword" />
          <hr />
        </div>

        <!--<div>
          <label>Marque</label>
          <select class="tui-space_vertical-4">

            <option></option>
            <option *ngFor="let marque of marques">
              {{marque}}
            </option>
          </select>
        </div>
        <button tuiButton appearance="custom">Rechercher</button>!-->
      </section>
    </section>

    <p *ngIf="!!keyword">Resultat trouvé : {{ searchResult.length }}</p>
    <section class="container" *ngIf="searchResult.length > 0">
      <div class="row">
        <div *ngFor="let result of searchResult" class="col-md-6 text-center">
          <div class="card">
            <div class="card-body">
              <h3>{{ result.title | uppercase }}</h3>
              <p>{{ result.description }}</p>
              <p><tui-badge value="{{ result.marque }}"></tui-badge></p>
              <button nz-button (click)="navigate('/boutique/item/', result)">
                voir les details
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</nz-modal>

<app-footer></app-footer>
