<app-navbar></app-navbar>
<section class="banner">
  <div class="image">
    <div class="wrapper">
      <div class="title" style="margin-left: 3% ;">
        <h1>Notre boutique</h1>
      </div>
    </div>
  </div>
</section>

<app-back-button [text]="'retour'"></app-back-button>
<section class="search">
  <tui-select tuiTextfieldSize="m" class="tui-space_vertical-4" [formControl]="piece">
    Piece
    <input tuiTextfield placeholder="Choisissez la piece recherché" />
    <tui-data-list-wrapper *tuiDataList [items]="pieces"></tui-data-list-wrapper>
  </tui-select>
  <tui-select tuiTextfieldSize="m" class="tui-space_vertical-4" [formControl]="marque">
    Marque
    <input tuiTextfield placeholder="Choisissez la marque du produits" />
    <tui-data-list-wrapper *tuiDataList [items]="marques"></tui-data-list-wrapper>
  </tui-select>
  <button tuiButton  appearance="custom">Rechercher</button>
</section>

<section class="products">
  <div *ngFor="let product of products" class="product-list">
    <app-shopping-card [shoppingItemData]="product" ></app-shopping-card>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
