
.banner {
  .image {
    background-color: rgb(147, 3, 3);
    width: auto;
    height: 40vh;
    .wrapper {
      position: absolute;
      width: 100%;
      margin-left: 0%;
      .title {
        h1 {
          color: white;
          font-size: 40px;
          margin-top: 4%;
          position: relative;
        }
        p {
          color: white;
          font-size: 16px;
        }
      }
      .buttons {
        button {

          color: black;
        }
      }
    }
  }
}

.call-to-action{
  width: 100% !important;
  height: 200px !important;
  background-color: rgb(147, 3, 3);
  h1 {
    color : white !important;
  }
}

.atout {
  width: 100% !important;
  height: 300px !important;
  .our {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    .description {
      img {
        width: 180px !important;
        height: 150px;
      }
      p {
        text-align: center;
        font-size: 15px;

      }
      &:hover {
        p {
          color: rgb(147, 3, 3);
        }
      }
    }
  }
}
.about {
  background-color: rgb(147, 3, 3);
  height: 400px;
  .container {
    display: flex;
    margin-left: 3%;
    .description {
      text-align: center;
      color: white;
      width: 80%;
      h1 {
        margin-top: 14%;
        font-size: 30px;
      }
      button {
        background-color: black;
        color: white;
      }
      p {
        width: 800px;
        text-align: center;
        margin-left: 5%;
      }
    }
    .image {
      img {
        margin-top: 8%;
        border-radius: 20px;
      }
    }
  }
}

.vente {
  height: 300px;
  h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
  }
  .images {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    .item {
      img {
        width: 80px;
        height: 80px;
        margin: 0 30px;
        &:hover {
          filter: grayscale(100%);
          width:80px;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 900px) {
  .banner {
    width: 100% !important;
    .image {
      height: 45vh;
      position: relative;
    }
  }

  .vente {
    height: 400px;
    .images {
      flex-wrap: wrap;
      img {
        margin-top: 3%;
      }
    }
    button {
      display: none;
    }
  }
  .about {
    height: auto;
    width: 100%;
    .container {
      display: block !important;
      .description {
        text-align: center;
        margin-left: 5%;
        p {
          width: auto;
        }
      }
      .image {
        img {
          display: none;
        }
      }
    }
  }

  .atout {
    width: auto !important;
    height: auto !important;
    .our {
      flex-wrap: wrap;
      .description {
        img {
          width: 300px !important;
          height: 200px;
        }
        p {
          text-align: center;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }

  .call-to-action{
    h1 {
      margin-left: 0px;
    }
  }
}
