<div class="container">
  <button class="btn btn-outline-dark" (click)="activeModal('custom-modal-1')"> Ajouter une nouvelle categorie</button>
  <button class="btn btn-outline-dark m-2" (click)="activeModal('custom-modal-2')"> Ajouter une nouvelle marque</button>
  <h3 class="mt-4">  {{showCategorieView ? 'Categorie : ' + categories.length :  'Marque : ' + marques.length}}</h3>
  <div class="btn-group">
    <a class="btn btn-outline-dark" (click)="showCategorieView = true">Liste categorie</a>
    <a class="btn btn-outline-dark" (click)="showCategorieView = false">Liste marque</a>
  </div>
  <app-table-data [headers]="['name','marque','status']" [type]="'categorie'"  [datas]="categories" [filter]="false" *ngIf="showCategorieView"></app-table-data>
  <app-table-data [headers]="['name','status']" [type]="'marque'"  [datas]="marques" [filter]="false" *ngIf="!showCategorieView"></app-table-data>
</div>

<app-jw-modal id="custom-modal-1" [size]="40">
  <a (click)="closeModal('custom-modal-1')" style="cursor:pointer;font-weight:bold">X</a>
  <h2>Enregistrement de la categorie</h2>
  <div class="alert alert-danger mt-5" *ngIf="!!error">
   {{error}}
  </div>
  <form class="mt-5">
    <label>Piece</label>
    <input class="form-control mt-3" [(ngModel)]="categorie.name"  name="categorie">
    <label>Marque de vehicule</label>
    <select class="form-control" [(ngModel)]="categorie.marque_id" name="marque">
      <option [defaultSelected]="true"></option>
      <option value="{{marque.id}}" *ngFor="let marque of marques">
        {{marque.name}}
      </option>
    </select>
    <label>Status</label>
    <select class="form-control" [(ngModel)]="categorie.isActive" name="isActive">
      <option value="0" selected ></option>
      <option value="1">ACTIF</option>
      <option value="0">INACTIF</option>
    </select>
    <button  appearance="custom" tuiButton class="mt-3 col-md-12" [showLoader]="isLoaded" type="button" (click)="addNewCategorie()">Enregister</button>
  </form>
</app-jw-modal>


<app-jw-modal id="custom-modal-2" [size]="40">
  <a (click)="closeModal('custom-modal-2')" style="cursor:pointer;font-weight:bold">X</a>
  <h2>Enregistrement de la marque</h2>
  <div class="alert alert-danger mt-5" *ngIf="!!error">
   {{error}}
  </div>
  <form class="mt-5">
    <label>Marque de vehicule</label>
    <input class="form-control mt-3" [(ngModel)]="marque['name']"  name="categorie">
    <label>Status</label>
    <select class="form-control" [(ngModel)]="marque['isActive']" name="isActive">
      <option value="0" selected ></option>
      <option value="1">ACTIF</option>
      <option value="0">INACTIF</option>
    </select>
    <button  appearance="custom" tuiButton class="mt-3 col-md-12" [showLoader]="isLoaded" type="button" (click)="addNewMarque()">Enregister</button>
  </form>
</app-jw-modal>
