<div class="container">
  <ng-container *ngIf="!enableUserForm">
    <h1>Liste des utilisateurs <tui-badge value="{{users.length}}" status="primary"></tui-badge> </h1>
    <button class="btn btn-dark" (click)="enableUserForm = true">Ajouter un utilisateur</button>
    <app-table-data [datas]="users" [headers]="['nom','prenom','email','telephone','role','status','action']"
      [filter]="false" [type]="'user'"></app-table-data>
  </ng-container>



  <ng-container *ngIf="enableUserForm">
    <h2>Ajouter un nouvel utilisateur</h2>
    <div class="card">
      <div class="card-body">
        <span style="color:red;font-weight: bold;cursor: pointer;" (click)="enableUserForm = false">x</span>
        <div class="field">
          <label>Nom</label>
          <input type="text" class="form-control">
        </div>
        <div class="field">
          <label>Prenom</label>
          <input type="text" class="form-control">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="email" class="form-control">
        </div>
        <div class="field">
          <label>Telephone</label>
          <input type="text" class="form-control">
        </div>

        <div class="field">
          <label>Role</label>
          <select class="form-control">
            <option></option>
            <option *ngFor="let role of roles">
              {{role.title}}
            </option>
          </select>
        </div>
        <button class="btn btn-dark col-md-12 mt-2"> Ajouter un utilisateur</button>
      </div>
    </div>
  </ng-container>
</div>
