<app-navbar [fixable]="false"></app-navbar>
<section class="banner">
  <div class="image">
    <div class="wrapper">
      <div class="title text-center">
        <h1 style="text-align: center;">Detail du produit {{detailProduct.title.toUpperCase()}} <i class="fa fa-shopping-cart"></i></h1>
      </div>
    </div>
  </div>
</section>
<app-back-button [text]="'Retour'"></app-back-button>

<div class="product row ">
  <div class="product-image col-md-4">
    <app-image [images]="detailProduct.fileUrl"></app-image>
  </div>
  <div class="product-description col-md-8">
    <h1>{{detailProduct.title.toUpperCase()}}</h1>
    <h3>Prix : {{detailProduct.price}} FCFA</h3>
    <p>Marque : {{detailProduct.marque}}</p>
    <p> Description : {{detailProduct.description}}</p>
    <button nz-button (click)="isVisible = true">Commander <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>



<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
  <div class="b-form-item" class="department-form">
    <h1 style="text-align: center;">Formulaire de commande</h1>

    <nz-alert
    *ngIf="!!error"
    nzType="error"
    nzCloseable
    nzMessage="{{error}}"
  ></nz-alert>

    <div *ngIf="!isFoward">
      <label>Nom</label>
      <input type="text" [(ngModel)]="user.firstname" class="form-control" placeholder="votre nom" />
      <label>Prenom</label>
      <input type="text" [(ngModel)]="user.lastname" class="form-control" placeholder="votre prenom" />
      <label>email</label>
      <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="votre email" />
      <label>Telephone</label>
      <input type="phone" [(ngModel)]="user.phone" class="form-control" placeholder="votre numero de téléphone" />
      <br>
      <br>
      <button type="submit" appearance="custom" nz-button  class="jw-submit" (click)="next()">Suivant <i class="fa fa-arrow-right"></i></button>
    </div>

    <div *ngIf="isFoward">
      <label>Quantité</label>
      <input type="number"  [min]="1" [max]="detailProduct.quantity ? detailProduct.quantity : 0 "
        [(ngModel)]="order.quantity" (change)="generateTotalPriceForProduct()" class="quantity-input form-control" />
      <nz-alert nzType="info" style="margin-top :3%" nzMessage="Max produit disponible en stock : {{detailProduct.quantity
      }}"></nz-alert>
      <br>
      <app-shopping-detail [price]="price" [user]="user" [detailProduct]="detailProduct"
        [quantity]=" order.quantity > detailProduct.quantity ? detailProduct.quantity :  order.quantity"
        *ngIf="!!order.quantity"></app-shopping-detail>
      <div class="buttons" >
        <button type="button"  nz-button class="jw-back" (click)="isFoward = false"> <i class="fa fa-arrow-left"></i> Retour </button>

        <button type="button" nzType="primary"  nz-button class="jw-submit" (click)="submitRequestForm()"
          [disabled]="!order.quantity" [nzLoading]="isLoad">Confirmer ma commande <i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
  </ng-container>
</nz-modal>
